[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=ThemeChanger
Exec=invoker --single-instance --type=d /opt/ThemeChanger/bin/ThemeChanger
Icon=/usr/share/icons/hicolor/64x64/apps/ThemeChanger.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
